* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   box-sizing: border-box;
}

body {
   background: black;
   color: #fff;
}

.header {
   width: 100%;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/header-image.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 10px 8%;
   position: relative;
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 30px 0;
}

.logo {
   width: 120px;
   border-radius: 50%;
   cursor: pointer;
}

nav ul {
   list-style: none;
   display: flex;
   gap: 60px;
}

nav ul li a {
   font-size: 24px;
   color: white;
   text-decoration: none;
   justify-content: space-between;
}

nav ul li a:hover {
   color: coral;
   font-size: 34px;
}

.header-content {
   position: relative;
   margin-top: 50px;
   display: grid;
   grid-template-columns: 3fr 1fr;
}

.nav-right {
   width: 100%;
   font-size: 0.9rem;
   display: flex;
   flex-direction: column;
   font-size: 0.9rem;
}
.nav-right h1, h3{
   justify-content: center;
   text-align: center;
   font-size: 24px;
   padding: 5px 5px;
}
.nav-right img {
   margin: 20px 20%;
}
.handle-bar {
   margin: 10px 20%;
   font-weight: 600;
}

.handle-bar h4{
   margin-top: 20px;
}

.handle-bar h4 a {
   color: white;
}

.form-section {
   align-items: center;
   justify-content: space-between;
   background-color: #6e0bbe;
   padding: 20px 5%;
   font-size: 18px;
   width: 400px;
   height: 900px;
   border-radius: 2%;
   position: sticky;
   top: 0;
   z-index: 100;
   margin-left: 0px;
}

.form-section input {
   padding: 10px 40px;
   margin: 10px 10px;
   outline: 0;
   border: 0;
}

.submit-btn {
   color: rgb(67, 4, 104);
   margin: 60px 0px 0px 0px;
   padding: 10px 5px;
}
.submit-btn input {
   font-size: 22px;
}

.title {
   font-size: 19px;
   font-weight: 500;
   margin: 10px 5px;
}

.sub {
   padding: 5px 10px;
}